#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGM_CONF}" == "LOADED" ]; then
  return 0
fi

# PGM CONSTANTS
export PGM_USER=@USER@
export PGM_GROUP=@GROUP@
export PGM_HOME_DIR=@PREFIX@
export PGM_BIN_DIR=@BINDIR@
export PGM_LIB_DIR=@LIBDIR@
export PGM_CONF_DIF=@CONFDIR@
export PGM_DOC_DIR=@DOCDIR@
export PGM_MAN_DIR=@MANDIR@
export PGM_TPL_DIR=@TPLDIR@
export PGM_VERSION="@VERSION@"
export PGM_LOG_DIR="@LOGDIR@"
export PGM_EXPORT_DIR="@PREFIX@/pgdb/export"
export PGM_TMP_DIR="/var/tmp"
export PGM_INVENTORY_DIR="@PREFIX@/inventory"
export PGM_PGTAB="${PGM_INVENTORY_DIR}/pgtab"

# SERVER CONSTANT
# The starting point of every instance directory
export PGM_PGDBHOME_DIR="@PREFIX@/pgdb"
# List of allowed charater (form of a regular expression) alowed to form instances name
export PGM_PGSID_AUTHORIZED_REGEXP="[a-zA-Z0-9_][-a-zA-Z._#0-9]{4,7}"
# List of allowed charater (form of a regular expression) alowed to form databases name
export PGM_PGDATABASE_AUTHORIZED_REGEXP="[a-zA-Z0-9_][-a-zA-Z._#0-9]{4,7}"
export PGM_PGEXTENTIONS="adminpack, auto_explain, pg_stat_statements, postgres_fdw, sslinfo, btree_gin, btree_gist"
export PGM_PGEXTENTIONS_TO_CREATE="adminpack pg_stat_statements"

# After setServer
export PGM_PGFULL_VERSION=""
export PGM_PGFULL_VERSION_NUM=0
export PGM_PGMAJOR_VERSION=""
export PGM_PGMAJOR_VERSION_NUM=0

# SERVER PATTERN CONSTANT 
# Pattern SRV_name_PATTERN will be expanded into PGM_name
# In those pattern you can use the previous PGM_ constants
PGMSRV_PTRN_PGHOME_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}'
PGMSRV_PTRN_PGBIN_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/bin'
PGMSRV_PTRN_PGLIB_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/lib'
PGMSRV_PTRN_PGSHARE_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/share'
PGMSRV_PTRN_PGEXTENSION_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/share/extension'
PGMSRV_PTRN_PGINCLUDE_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/include'
PGMSRV_PTRN_PGDOC_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/doc'
PGMSRV_PTRN_PGMAN_DIR='@PREFIX@/server/${PGM_PGFULL_VERSION}/man'
PGMSRV_PTRN_TEMPLATE_DIR='@PREFIX@/template/${PGM_PGMAJOR_VERSION}'


# After setInstance
export PGM_PGSID=""
export PGM_PGHOST=$(uname --nodename)
export PGM_PGLISTENER=""
export PGM_PGPORT=0
export PGM_PGAUTOLAUNCH=""
export PGM_PGSTATUS=""

# Pattern PGMPGPATTERN_NAME will be expanded into PGM_NAME
#  ${PGM_PGFULL_VERSION} that contains full text version of a PostgreSQL server (9.5.0)
#  ${PGM_PGFULL_VERSION_NUM} that contains full numeric version (950)
#  ${PGM_PGMAJOR_VERSION} the major text version (9.5)
#  ${PGM_PGMAJOR_VERSION_NUM} the major numeric version (95)
#  ${PGM_PGSID} the instance name
PGMPG_PTRN_PGDATA_DIR='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/data'
PGMPG_PTRN_PGLOG_DIR='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/log'
PGMPG_PTRN_PGXLOG_DIR='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/xlog/wal'
PGMPG_PTRN_PGARCHIVELOG_DIR='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/archivelog'
PGMPG_PTRN_PGDBBASE_DIR='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}'
#PGMPG_PTRN_PGFSLIST='"${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID} ${PGM_PGBASE_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/xlog ${PGM_PGBASE_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/archivelog ${PGM_PGBASE_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/log"'
PGMPG_PTRN_PGFSLIST=''
PGMPG_PTRN_PGRECOVER='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/data/recovery.conf.bak'
PGMPG_PTRN_PGCONF='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/data/postgresql.conf'
PGMPG_PTRN_PGHBA='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/data/pg_hba.conf'
PGMPG_PTRN_PGIDENT='${PGM_PGDBHOME_DIR}/${PGM_PGMAJOR_VERSION}/${PGM_PGSID}/data/pg_ident.conf'
PGMPG_PTRN_PGLOG_FILE='${PGM_PGSID}.${PGM_PGFULL_VERSION}.log'
#PGMPG_PTRN_PGLOG_FILE='postgresql.log'

#After setDatabase
export PGM_PGDATABASE=""
export PGM_PGLOG=""

# Nothing should happens after next line
export PGM_CONF="LOADED"
