#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGB_DOT_INSTANCE_CONF}" == "LOADED" ]; then
  return 0
fi
export PGB_DOT_INSTANCE_CONF="LOADED"

# PGB_TEMPLATE_DIR, where pgbrewer templates are. They are used to build other files
# by diverse pgbrewer scripts like pgb_instance_create
PGBSRV_PTRN_TEMPLATE_DIR='${PGB_TPL_DIR}/${PGB_PGMAJOR_VERSION}'
