#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGB_DOT_CONF}" == "LOADED" ]; then
  return 0
fi
export PGB_DOT_CONF="LOADED"

# PGBrewer CONSTANTS
# DO NOT TOUCH UNLESS YOU KNOW WHAT YOU DO
# DO NEVER SET IN SCRIPTS UNLESS YOU WANT TO HACK

# Name of this install. 'pgbrewer' by default
export PGB_NAME="@NAME@"

# Version of this install
export PGB_VERSION="@VERSION@"

# Bash used
export PGB_BASH="@BASH@"

# User, will own PostgreSQL process and managed products files, all pgbrewer's too
export PGB_USER="@USER@"

# Logrotare used to rotate all pgbrewer and managed products logs
export PGB_LOGROTATE_EXE="@LOGROTATE@"

# Logrotare used to rotate all pgbrewer and managed products logs
export PGB_LOGROTATE_CONF="@CONFDIR@/logrotate.conf"

# The base directory where everything sit except databases datas
export PGB_HOME_DIR="@PREFIX@"

# Where all pgbrewer commands are
export PGB_BIN_DIR="@BINDIR@"

# Systems script are here
export PGB_SCRIPT_DIR="@SCRIPTDIR@"

# pgbrewer libraries directory, no executables here
export PGB_LIB_DIR="@LIBDIR@"

# pgbrewer's configurations files
export PGB_CONF_DIR="@CONFDIR@"

# pgbrewer's interesting documentation about...
export PGB_DOC_DIR="@DOCDIR@"

# pgbrewer's manual pages
export PGB_MAN_DIR="@MANDIR@"

# pgbrewer's templates, one directory by PostreSQL major version
export PGB_TPL_DIR="@TPLDIR@"

# All pgbrewer's log, rotated, by command name
export PGB_LOG_DIR="@LOGDIR@"

# pgbrewer's inventory files, with "which version of what for who" informations
# if you change it, change it into postgresql_initd too
export PGB_INVENTORY_DIR="@INVENTORYDIR@"

# The instances per versions inventory for autolaunch
# if you change it, change it into postgresql_initd too
export PGB_AUTOSTART_INVENTORY="@INVENTORYDIR@/autostart"

# Ensure that pipes (like in '|' tee) will return with first false
# command code in "pipe line"
set -o pipefail
