#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${DOT_PROVIDER_CONF}" == "LOADED" ]; then
  return 0
fi
export DOT_PROVIDER_CONF="LOADED"

# Providers CONSTANTS
# DO NOT TOUCH UNLESS YOU KNOW WHAT YOU DO
# DO NEVER SET IN SCRIPTS UNLESS YOU WANT TO HACK

