#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGB_DATABASE_CONF}" == "LOADED" ]; then
  return 0
fi
export PGB_DATABASE_CONF="LOADED"
. @CONFDIR@/pgbrewer.conf
. @CONFDIR@/server.conf
. @CONFDIR@/instance.conf
. @CONFDIR@/.database.conf

# EDITABLES VARIABLES
# YOU CAN EDIT THEM TO FIT YOUR NEEDS

# List of allowed character (form of a regular expression) alowed to form databases name, no space
export PGB_PGDATABASE_AUTHORIZED_REGEXP="[a-zA-Z0-9_][-a-zA-Z._#0-9]{4,7}"

# List of administrative databases alway listed in fact
export PGB_PGADMINISTRATIVE_DATABASES="postgres template1 template0"

# END OF EDITABLES VARIABLES

# DATABASES CONSTANTS set after setDatabase call

# The database name
# PGB_PGDATABASE


if [ -v PGB_CONFIG_NAME ] && [ -r @CONFDIR@/${PGB_CONFIG_NAME}/database.conf ]; then
  . @CONFDIR@/${PGB_CONFIG_NAME}/database.conf
fi
