#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGM_CONF}" == "LOADED" ]; then
  return 0
fi
export PGM_CONF="LOADED"

. @CONFDIR@/.pgm.conf

# EDITABLES VARIABLES
# You can edit them
# don't forget to issue a pgm_check after changer, to be sure.

# Where to put all temporary pgm stuff
export PGM_TMP_DIR="/var/tmp"

# Where to list all databases, instance, and servers
export PGM_PG_INVENTORY="${PGM_INVENTORY}/${PGM_CONFIG_NAME}/databases"

# PGM general short descriptions used for help messages
export PGM_GENERAL_SHORT_DESCRIPTION="\
PostgreSQL manager will help handle multiple version of multiple PostgreSQL
with multiple instances (cluster) and multiple databases
"

# PGM general user interface philosophy
PGM_GENERAL_PHILOSOPHY_DESCRIPTION="\
Parameters description is of the form '-parameter-' or '+parameter+'.
The meaning of the surroundings '-', '+', '~', or '_' sign are:
  '-': must exists, that is '-database-' must have been created before,
       '-server-' has to be already installed (pg_config exists)
  '+': must be totaly new, not even added. No configuration, no inventory
       for '+instance+'
  '~': must at least have been added. '~server~' has to have configurations,
       inventory, but no mandatory pg_config executable
  '.': whatever, this will be checked as a correct value for the purpose,
       but not for existence
"

# END OF EDITABLES VARIABLES

# If exists load configuration
if [ -v PGM_CONFIG_NAME ] && [ -r @CONFDIR@/${PGM_CONFIG_NAME}/pgm.conf ]; then
  . @CONFDIR@/${PGM_CONFIG_NAME}/pgm.conf
fi
