#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGM_CONF}" == "LOADED" ]; then
  return 0
fi
export PGM_CONF="LOADED"

. @CONFDIR@/.pgm.conf

# PGM VARIABLES
# You can edit them
# don't forget to issue a pgm_check after changer, to be sure.

# Where to put all temporary pgm stuff
export PGM_TMP_DIR="/var/tmp"

# If exists load configuration
if [ -v PGM_PGNAME ] && [ -r @CONFDIR@/${PGM_PGNAME}/pgm.conf ]; then
  . @CONFDIR@/${PGM_PGNAME}/pgm.conf
fi
