#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGS_DOT_PGSERVER_CONF}" == "LOADED" ]; then
  return 0
fi
export PGS_DOT_PGSERVER_CONF="LOADED"

# Load default server name
if [ -r @CONFDIR@/${PGB_CONFIG_NAME}/pgserver/.defaultConfig ]; then
  export PGB_CONFIG_NAME="$(cat @CONFDIR@/${PGB_CONFIG_NAME}/pgserver/.defaultServer)"
else
  export PGB_CONFIG_NAME="default"
fi

