#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGS_PGSERVER_CONF}" == "LOADED" ]; then
  return 0
fi
export PGS_PGSERVER_CONF="LOADED"
. @CONFDIR@/default/pgbrewer.conf
. @CONFDIR@/default/pgserver/default/.pgserver.conf

#
# EDITABLES VARIABLES

# Full PostgreSQL version
export PGS_PGFULL_VERSION="9.5.3"

# Major PostgreSQL version
export PGS_PGMAJOR_VERSION="${PGB_PGFULL_VERSION%.*}"

# Server source name
export PGS_PGSERVER_SOURCE="postgresql-${PGS_PGFULL_VERSION}"

# How to get the server install source
export PGS_PGSERVER_PROVIDE="wget https://www.postgresql.org/ftp/source/v${PGS_PGFULL_VERSION}/${PGS_PGSERVER_SOURCE}.tar.gz && tar xfz postgresql-${PGS_PGSERVER_SOURCE}.tar.gz"

# PostgreSQL building options
export PGS_PGSERVER_OPTIONS="--with-openssl --with-perl --with-python --with-ldap"

# Allowed PostgreSQL PGBrewer version format.
export PGS_PGNAME_AUTHORIZED_REGEXP="[a-zA-Z_][-a-zA-Z_#0-9]{2,32}"

# Where the servers will stand
export PGS_PGBASE_DIR="${PGS_HOME_DIR}/server"

# PGS_PGHOME_DIR, the base directory for the PostgreSQL server
export PGS_PGHOME_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}'

# PGS_PGBIN_DIR, the binary PostgreSQL directory
export PGS_PGBIN_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/bin'

# PGS_PGLIB_DIR, the library PostgreSQL directory
export PGS_PGLIB_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/lib'

# PGS_PGSHARE_DIR, where PostgreSQL store his datas (DATAROOTDIR)
export PGS_PGSHARE_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/share/postgresql'

# PGS_PGEXTENSION_DIR, extension...
export PGS_PGEXTENSION_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/share/postgresql/extension'

# PGS_PGINCLUDE_DIR, need to say?
export PGS_PGINCLUDE_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/include'
# PGS_PGDOC_DIR, ok
export PGS_PGDOC_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/doc'

# PGS_PGMAN_DIR, no, surprisingly, it for PostgreSQL man pages...
export PGS_PGMAN_DIR='${PGS_PGBASE_DIR}/${PGS_PGSERVER_NAME}/man'

# END OF EDITABLES VARIABLES

if [ -r @CONFDIR@/${PGB_CONFIG_NAME:-default}/pgserver/${PGS_PGSERVER_NAME:-default}/pgserver.conf ]; then
  . @CONFDIR@/${PGB_CONFIG_NAME:-default}/pgserver/${PGS_PGSERVER_NAME:-default}/pgserver.conf
fi


