#! @BASH@
# 
# Bash library for PostgreSQL.
#
# S. Tachoires		23/02/2016	Initial version
#
#set -xv

# INCLUDE
if [ "${PGI_DOT_INSTANCE_CONF}" == "LOADED" ]; then
  return 0
fi
export PGI_DOT_INSTANCE_CONF="LOADED"

# The starting point of every instance directory
# If you want one.
export PGI_PGDBBASE_DIR="${PGS_HOME_DIR}/db"


# PGB_TEMPLATE_DIR, where pgbrewer templates are. They are used to build other files
# by diverse pgbrewer scripts like pgb_instance_create
export PGI_TEMPLATE_DIR='${PGB_TPL_DIR}/${PGB_PGMAJOR_VERSION}'
